body {
    background-color: #343040;
}

nav {
    background-color: rgb(52, 79, 97);
    padding: 3px;
}

h1 {
    margin-top: 100px;
}

canvas {
    margin-bottom: 25px;
    background-color: white;
}

.container_canvas {
    border: 1px solid;
}

.picker {
    background-color: #D4D26A;
}

.btnVaciar {
    background-color: #181812;
}